.edit-form-wrap {
	width: 1600px;
	height: 1200px;
	position: absolute;
	display: flex;
	visibility: hidden;
}

.edit-form {
	/*border: 1px solid blue;*/

	flex-grow: 1;
	background: url(../images/add_form.png) no-repeat;
	background-size: contain;
	display: flex;
}

.form-window {
	/*border: 1px solid green;*/

	height: 45%;
	width: 32%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.edit-section {
	/*border: 1px solid orange;*/

	display: flex;
	flex-direction: column;
	flex-grow: 4;
}

.edit-form .header {
	/*border: 1px solid red;*/

	display: flex;
	max-height: 50px;
	width: 80%;
	flex-direction: column;
	margin: 5% auto 0; 
}

.edit-form .header li:first-child {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: auto;
}

.edit-form .header li:last-child {
	display: inline-block;
	height: 0px;
	width: 75%;
	border: 0.75px solid rgba(62, 83, 190, 1);
	border-radius: 1px;
	box-shadow: 0 0 10px rgba(62, 83, 190, 1), 0 0 10px rgba(62, 83, 190, 1), 0 0 25px rgba(62, 83, 190, 1);
	margin: 3% auto 0;
}

.edit-form .edit-charact-wrap {
	/*border: 1px solid white;*/

	height: 75%;
	width: 90%;
	margin: 7% auto 0;
	display: flex;
}

.edit-form .edit-charact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.edit-form .edit-charact .name {
	/*border: 1px solid red;*/

	font-size: 1.3em;
	margin-top: 7%; 
	padding-left: 10%; 
}

.edit-form .edit-charact .name input {
	max-width: 200px;
	width: 120%;
	margin-left: 8%;  
}

.edit-form .characts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.edit-form .characts li {
	/*border: 1px solid blue;*/
	
	display: flex;
	margin-bottom: 10%;
}

.edit-form .characts .input-form select{
	display: inline-block;
	max-width: 105px;
	max-height: 22px;
	border: 1px solid #294153;
  background-color: rgba(0, 0, 0, 0.7);
  color: #999;
  margin-left: 10%;
}

.edit-form .edit-charact div {
	/*border: 1px solid white;*/

	display: flex;
	justify-content: space-between;
	font-size: 0.9em;
}

.edit-form .edit-charact div:first-child {
	max-width: 40%;
	width: 40%;
}

.edit-form .edit-charact div:first-child .input-form {
	margin-left: 7%; 
}

.edit-form .edit-charact div:last-child {
	max-width: 45%;
	width: 45%;
	padding-left: 10%; 
}

.edit-form .characts .charact {
	margin: 3px 0 0 10%;
}

.edit-charact .input-form {
	/*border: 1px solid red; */

	display: inline-block;
}

.edit-charact .input-form input {
	display: inline-block;
	max-width: 100px;
	max-height: 22px;
	background: url('../images/input.png') no-repeat;
	background-size: 100% 100%; 
	text-align: center;
	color: #999;
}

.confirm-section {
	/*border: 1px solid red;*/
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 4;
	margin-bottom: 3%; 
}

.confirm-section .ok-btn {
	margin-left: 8%; 
}

.confirm-section .cancel-btn {
	margin-right: 8%; 
}

.confirm-section .btn {
	display: flex;
	margin: auto;
	min-height: 60%;
	min-width: 35%;
}