.main {
	/*border: 1px solid blue;*/

	height: 100%;
	min-height: 680px;
	width: 100%;
	max-width: 750px;
	min-width: 750px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	background: url(../images/main_background.png) no-repeat;
	background-size: contain;
	box-sizing: border-box;
}

.charact {
	color: #3e35be;
	text-shadow: 0 0 5px rgba(62, 83, 190, 1);
}

.btn {
	/*border: 1px solid white;*/
	background: url(../images/btn_unactive_1.png) no-repeat;
	background-size: 100% 100%;
}

.btn:active {
	background: url(../images/btn_active_1.png) no-repeat;
	background-size: 100% 100%;
}

.btn:active span {
	text-shadow: 0 0 6px rgba(255, 255, 255, 1), 0 0 6px rgba(255, 255, 255, 1), 0 0 6px rgba(255, 255, 255, 0.5);
}

.btn span {
	/*border: 1px solid red;*/

	font-size: 1.2em;
	text-shadow: 0 0 6px rgba(255, 255, 255, 1);
	text-align: center;
	margin: auto;
}

.park-name {
	/*border: 1px solid red;*/

	height: 20px;
	max-width: 90%;
	display: inline-block;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12.5%;
	margin-bottom: 0.5%;
}
.park-name::before {
	content: '';
	height: 0;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	border: 1px solid white;
}
.park-name::after {
	content: '';
	height: 0;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	border: 1px solid white;
}

.car-interface {
	/*border: 1px solid green;*/

	height: 335px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 7% 0.5% 7%;
}

.car-interface .section-1 {
	/*border: 1px solid orange;*/

	width: 39%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.selected-car-info {
	/*border: 1px solid yellow;*/

	min-height: 200px;
}

.selected-car-info ul {
	/*border: 1px solid red;*/

	padding: 0;
	margin: 0;
	min-height: 200px;
}

.selected-car-info li {
	/*border: 1px solid red;*/
	margin-left: 7%;
	margin-top: 4%;
}

.selected-car-info li:first-child {
	font-size: 1.2em;
	text-align: center;
	margin: 12% 0;
}

.selected-car-info li:nth-child(0n + 2) .value {
	max-width: 200px;
	width: 150px;
}

.selected-car-info li:last-child .value {
	max-width: 130px;
	width: 130px;
}

.selected-car-info li:first-child .charact {
	color: white;
}

.selected-car-info li .value {
	/*border: 1px solid red;*/

	display: inline-block;
	max-width: 100px;
}

.add-car-btn {
	/*border: 1px solid white;*/

	display: flex;
	min-height: 80px;
}

.add-car-btn .btn {
	height: 60px;
	width: 180px;
	display: flex;
	margin: 0 auto;
}

.add-car-btn .btn span {
	max-width: 120px;
}

.car-interface .section-2 {
	/*border: 1px solid orange;*/
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 59%;
}

.car-name {
	/*border: 1px solid red;*/

	max-width: 90%;
	display: inline-block;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
	margin: 5% auto 4%;
}

.car-list {
	/*border: 1px solid blue;*/

	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.choose-car {
	/*border: 1px solid red;*/

	flex-grow: 2;
	max-width: 295px;
}

.choose-car ul {
	/*border: 1px solid blue;*/

	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.scroll-element {
	visibility: hidden;
}

.choose-car li {
	/*border: 1px solid red;*/

	display: flex;
	flex-grow: 1;
}

/*.choose-car li:hover {
	/*border: 1px solid red;*/

	/*background: url(../images/option_selected.png) 5px 0 no-repeat;
	background-size: 99% 100%;
}*/

.choose-car li:hover .edit-btn {
	visibility: visible;
}

.choose-car li:hover .delete-btn {
	visibility: visible;
}

.choose-car span{
	/*border: 1px solid orange;*/

	display: inline-block;
	font-size: 0.85em;
}

.choose-car li:hover .title {
	color: #3e35be;
	text-shadow: 0 0 5px rgba(62, 83, 190, 1);
}

.choose-car .title {
	margin: auto;
	margin-left: 5%;
}

.choose-car .edit-btn {
	visibility: hidden;
	background: url(../images/edit_btn_unactive.png) no-repeat;
	background-size: contain;
	min-width: 21px;
	min-height: 21px;
	margin: auto 0;
} 

.choose-car .edit-btn:hover {
	background: url(../images/edit_btn_focused.png) no-repeat;
	background-size: contain;
} 

.choose-car .edit-btn:active {
	background: url(../images/edit_btn_active.png) no-repeat;
	background-size: contain;
} 

.choose-car .delete-btn {
	visibility: hidden;
	background: url(../images/delete_btn_unactive.png) no-repeat;
	background-size: contain;
	min-width: 21px;
	min-height: 21px;
	margin: auto 1% auto 0;
} 

.choose-car .delete-btn:hover {
	background: url(../images/delete_btn_focused.png) no-repeat;
	background-size: contain;
} 

.choose-car .delete-btn:active {
	background: url(../images/delete_btn_active.png) no-repeat;
	background-size: contain;
} 

.scroll-section {
	/*border: 1px solid green;*/

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.scroll-btn {
	/*border: 1px solid orange;*/

	min-height: 25%;
}

.scroll-btn:first-child {
	/*border: 1px solid orange;*/

	background: url(../images/scroll_btn_unactive.png) no-repeat;
	background-size: contain;
	transform: rotate(-90deg);
	min-height: 70px; 
	margin-left: 5%;
	margin-top: 5%; 
}

.scroll-btn:first-child:active  {
	background: url(../images/scroll_btn_active.png) no-repeat;
	background-size: contain;
	transform: rotate(-90deg);
	min-height: 70px; 
	margin-left: 5%;
	margin-top: 5%; 
}

.scroll-btn:last-child {
	background: url(../images/scroll_btn_unactive.png) no-repeat;
	background-size: contain;
	transform: rotate(90deg);
}

.scroll-btn:last-child:active {
	background: url(../images/scroll_btn_active.png) no-repeat;
	background-size: contain;
	transform: rotate(90deg);
}

.park-info {
	/*border: 1px solid #cfa;*/
	
	min-height: 70px; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 7% 13% 8%;
}

.park-info .info {
	/*border: 1px solid red;*/

	display: flex;
	text-align: center;
	flex-grow: 1;
	margin: 0 5% 0;
}

.park-info .info div{
	/*border: 1px solid yellow;*/

	margin: auto;
}