html {
	background: black;
	min-height: 100%;
	color: white; /*change this later*/
	font-family: Courier New; /*change this later*/
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}